.listBox {
    width: 40%;
}

.inBox{
    width: 100%;
}

.inBox:focus {
    outline: none;
}
.footer{
    font-size: x-small;
    border: none;
}
.hid {
    display: none;
}
.showbttn:hover .hid:last-child {
    display: block;
}
.pendiente{
    color: brown;
}
.resuelto{
    color: green;
}
